.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.log
catboost_info/
data/raw/case/
data/external/Moscow.osm.shp/
data/external/Moscow.osm.gpkg/
data/external/*.zip
data/external/*.pbf
models/*.cbm
models/*.pkl
